/BulletBill.class
/CoinAnim.class
/Enemy.class
/FireFlower.class
/Fireball.class
/FlowerEnemy.class
/Mario.class
/Mushroom.class
/Particle.class
/Shell.class
/Sparkle.class
/Sprite.class
/SpriteContext.class
